<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
<body>
    <h1><%= show.name %></h1>

    Currently Watching: <%= show.currentEpisode %><br /><br />
    
    <!-- <a href="/shows/<%=show._id%>/edit">Edit</a><br />  Both of these work -->
    <form action="/shows/<%=show._id%>/edit">
        <button type="submit">Edit</button>
    </form>

    <form action="/shows/<%= show._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete Show</button>
    </form>

    <!-- <a href="/shows">Back Home</a> -->
    <form action="/shows">
        <button type="submit">Back Home</button>
    </form>
</body>
</html>